[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.5"
"argon2-cffi" = "*"
django-compressor = "*"
"psycopg2" = "*"
bcrypt = "*"
dotenv = "*"
django-crispy-forms = "==1.7.2"
setuptools = "==40.8.0"

[dev-packages]
django-debug-toolbar = "*"
sphinx = "*"
coverage = "*"
"flake8" = "*"
pytest = "*"
tox = "*"
"psycopg2" = "*"
